/* Bootstrap Portfolio */
/* Abhinandan Thour */

/* --------- */

*{
    padding: 0px;
    margin: 0px;
}

/* Colors Palette */
:root {
    --NavBG: #383838;
    --WelcomeBG: #484848;
    --GeneralBG: #f2f2f2;
}

/* Body Styling */
body {
    background-color: var(--GeneralBG);
}
main, footer {
    padding-left: 15%;
    padding-right: 15%;
}


/* --------- */


/* Header */
/* NavBar */
#nav .navbar{
    padding-left: 15%;
    padding-right: 15% ;    
}

/* Banner */
#welcome .jumbotron {
    background-color: var(--WelcomeBG);
    color: var(--GeneralBG);
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0px;
    border-radius: 0px;
}

/* --------- */

/* Main */
main {
    padding-top: 25px;
    padding-bottom: 35px;
} 

/* Work */
#work {
    display: flex;
    justify-content: center;
    padding: 25px;
}
/* Card Containers */
.cardContainer {
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
}
.cardContainer .card-body {
    display: flex;
    flex-direction: column;
}

/* --------- */

/* Footer */
/* About Me */
footer {
    padding-left: 15%;
    padding-right: 15%;
}
footer .jumbotron {
    display: flex;
    justify-content: space-between;
}
#AboutMeImg {
    display: flex;
    align-items: center;
}
#AboutMeText {
    padding-right: 20px;
}
#AboutMePhoto {
    border-radius: 50%;
}

/* Socials */
footer .socials {
    display: flex ;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

#Linkedin, #GitHub, #Instagram {
    padding-left: 10px;
    padding-right: 10px;
}

/*Responsible design */
@media only screen and (max-width: 875px) {

    /* Footer */
    footer .jumbotron {
        flex-direction: column;
        padding: 32px;
    }
    #AboutMeText {
        padding-right: 0px;
        padding-bottom: 50px;
    }
    #AboutMeImg {
        justify-content: center;
    }
    #AboutMePhoto {
        width: 300px;
    }
}

