/* Bootstrap Portfolio */
/* Abhinandan Thour */

/* --------- */

*{
    padding: 0px;
    margin: 0px;
}

/* Colors Palette */
:root {
    --NavBG: #383838;
    --WelcomeBG: #484848;
    --GeneralBG: #f2f2f2;
}

/* Body Styling */
body {
    background-color: var(--GeneralBG);
}
main, footer {
    padding-left: 15%;
    padding-right: 15%;
}


/* --------- */


/* Header */
/* NavBar */
#nav .navbar{
    padding-left: 15%;
    padding-right: 15% ;    
}

/* Banner */
#welcome .jumbotron {
    background-color: var(--WelcomeBG);
    color: var(--GeneralBG);
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0px;
    border-radius: 0px;
}

/* --------- */

/* Main */
main {
    padding-top: 25px;
    padding-bottom: 35px;
} 

/* Work */
#Myworktitle, #Myskilltitle {
    display: flex;
    justify-content: center;
    padding: 25px;
}
/* Card Containers */
.cardContainer {
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
}
.cardContainer .card-body {
    display: flex;
    flex-direction: column;
}
.cardContainer .btn {
    width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/* Skills */
#skillsection .align-self-center {
    padding: 20px;
}

/* --------- */

/* Footer */
/* About Me */
footer {
    padding-left: 15%;
    padding-right: 15%;
}
footer .jumbotron {
    display: flex;
    justify-content: space-between;
}
#AboutMeImg {
    display: flex;
    align-items: center;
}
#AboutMeText {
    padding-right: 20px;
}
#AboutMePhoto {
    border-radius: 50%;
}
#about .btn {
    display: flex;
    width: max-content;
    align-content: center;
    text-align: center;
    
}
#about h2 {
    font-size: 20px;
    margin: 0px;
    text-align: center;
    padding-left: 10px;
}

/* Socials */
footer .socials {
    display: flex ;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
#Linkedin, #GitHub, #Instagram {
    padding-left: 10px;
    padding-right: 10px;
}

/*Responsible design */
@media only screen and (max-width: 991px) {
    #nav .navbar {
        padding-right: 10px;
    }
}

@media only screen and (max-width: 875px) {

    /* Footer */
    footer .jumbotron {
        flex-direction: column-reverse;
        padding: 32px;
    }
    #AboutMeText {
        padding-right: 0px;
        padding-top: 32px;
    }
    #AboutMeImg {
        justify-content: center;
    }
    #AboutMePhoto {
        width: 300px;
    }
}

@media only screen and (max-width: 550px) {
    main, footer {
        padding-left: 10%;
        padding-right: 10%;
    }

    /* Welcome Banner */
    #welcome .jumbotron {
        padding-left: 15%;
        padding-right: 15%;
    }

    /* Skill Section */
    #skillsection #skill-column {
        display: flex;
        flex-direction: column;
    }
    #skillsection #skill-reverse-column{
        display: flex;
        flex-direction: column-reverse;
    }
    #skillsection .cardContainer {
        padding-bottom: 10px;
    }
    #skillsection .align-self-center {
        padding-top: 10px;
    }

    /* Contact Me */
    #AboutMeText {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #about .btn {
        width: auto;
    }
    #AboutMePhoto {
        width: 250px;
        height: 250px;
    }
}
